source/tables/sound/mp_common.all.json filter=lfs diff=lfs merge=lfs -text
source/tables/sound/wz_common.all.json filter=lfs diff=lfs merge=lfs -text
source/tables/sound/zm_common.all.json filter=lfs diff=lfs merge=lfs -text

*.jsom diff=UTF-8
*.json working-tree-encoding=UTF-8